<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <script>
        
// https://www.w3schools.com/react/react_es6_destructuring.asp

// const vehicleOne = {
//     brand: 'Ford',
//     model: 'Mustang',
//     type: 'car',
//     year: 2021, 
//     color: 'red'
// }
  
// console.log(vehicleOne)



  
//   function myVehicle(vehicale) {

//     // console.log(vehicale.color)
//     // console.log(vehicale.model)
//     // console.log(vehicale.year)


//     const {type, color, brand, model, year} = vehicale

//     // console.log(color)
//     // console.log(model)
//     // console.log(year)
   
//     const message = 'My ' + type + ' is a ' + color + ' ' + brand + ' ' + model + '.';

//     console.log(message)
//   }
//   function myVehicle({type, color, brand, model, year}) {

//     // console.log(vehicale.color)
//     // console.log(vehicale.model)
//     // console.log(vehicale.year)

//     // console.log(color)
//     // console.log(model)
//     // console.log(year)
   
//     const message = 'My ' + type + ' is a ' + color + ' ' + brand + ' ' + model + '.';

//     console.log(message)
//   }


//   myVehicle(vehicleOne);


  
// const vehicles = ['mehran', 'truck', 'bike'];

// console.log(vehicles)


// const [car,, superpower] = vehicles;

// console.log(car)
// console.log(superpower)














// let Car = "Mehran";
// console.log("Car:", Car)


// console.log({Car})

let MyCar = "Mehran";
console.log("Car:", MyCar)










// console.log({car}) 
// console.log("car", car)
// console.log({suzuki})



    </script>
</body>
</html>