<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <script>
        // let myfruite = ['Orange', 'Apple']

        // let myotherfruites = myfruite

        // // console.log(myotherfruites)
        // myotherfruites[0] = 'Banana';

        // console.log(myfruite)
        let myfruite = ['Orange', 'Apple']

        let myotherfruites = [...myfruite]

        // console.log(myotherfruites)
        myotherfruites[0] = 'Banana';
        console.log(myotherfruites)

        console.log(myfruite)
        
    </script>
</body>
</html>